{% load static %}
{% if use_dark_navbar %}
<nav id="navbar-dark" class="navbar navbar-expand-lg navbar-light fixed-top">
{% else %}
<nav id="navbar" class="navbar navbar-expand-lg navbar-light fixed-top">
{% endif %}
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'pages:home' %}">
      <img rel="preload" src="{% static 'images/MasiLogo.webp' %}" alt="Logo" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarNavDropdown"
    >
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          
            <a class="nav-link {% if use_dark_navbar %}nav-link-dark{% else %}nav-link-white{% endif %} dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink1"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            About Us
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
            <li>
              <a class="dropdown-item no-before" href="{% url 'pages:about' %}">
                <i class="fas fa-users fa-fw me-2"></i>Our Team
              </a>
            </li>
            <li>
              <a class="dropdown-item no-before" href="{% url 'pages:where' %}">
                <i class="fas fa-map-marker-alt fa-fw me-2"></i>Where We Work
              </a>
            </li>
            <li>
              <a class="dropdown-item no-before" href="{% url 'pages:apply' %}">
                <i class="fas fa-briefcase fa-fw me-2"></i>Jobs & Applications
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          
            <a class="nav-link {% if use_dark_navbar %}nav-link-dark{% else %}nav-link-white{% endif %} dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink2"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Programs
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
            <li>
              <a class="dropdown-item no-before" href="{% url 'pages:children' %}">
                <i class="fas fa-child fa-fw me-2"></i>Early Childhood Education
              </a>
            </li>
            <li>
              <a class="dropdown-item no-before" href="{% url 'pages:youth' %}">
                <i class="fas fa-user fa-fw me-2"></i>Community Jobs
              </a>
            </li>
            <li>
              <a class="dropdown-item no-before" href="{% url 'pages:top_learner' %}">
                <i class="fas fa-graduation-cap fa-fw me-2"></i>Scholarship Fund
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          
            <a class="nav-link {% if use_dark_navbar %}nav-link-dark{% else %}nav-link-white{% endif %} dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink4"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Impact
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink4">
            <li>
              <a class="dropdown-item no-before" href="{% url 'pages:data' %}">
                <i class="fas fa-database fa-fw me-2"></i>Data Portal
              </a>
            </li>
            <li>
              <a class="dropdown-item no-before" href="{% url 'pages:impact' %}">
                <i class="fas fa-chart-line fa-fw me-2"></i>Impact Reports
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="d-flex">
      <a href="{% url 'pages:donate' %}" class="button-donate">Donate</a>
    </div>
  </div>
</nav>