/*--------------------------------------------------
  DATA SECTION & IFRAME
--------------------------------------------------*/
.data-section {
  margin-top: 100px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.iframe {
  border: none;
  width: 100%;
  height: 100vh;
}
